/* this style will apply to the whole body... */
@media only screen and (min-width: 290px){
    .banner {
        width: 290px;
        height: 215px;
        float: left;
        color: rgb(182, 41, 41);
        background-color: rgb(255, 231, 94);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 75px;
        text-align: center;
    }
  }
 
  @media only screen and (min-width: 1200px){
.colorscheme {
    color: rgb(37, 44, 145);
    color: rgb(255, 13, 255);
    color: rgb(90, 253, 25);
    color: rgb(255, 160, 82);
    color: rgb(69, 253, 238);
}
 

.container {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-color: #FFF3F4;
 
}
.banner {
    width: 1366px;
    height: 215px;
    float: left;
    color: purple (128, 104, 0);
    background-color: maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    text-align: center;
}
.nav{
    width: 215px;
    height: 553px;
    float: left;
    background-color: rgb(129, 129, 129);
}
.content{
    width: 1121px;
    height: 523px;
    background-color: #7F797A;
    float: left;
    padding: 15px;
}
 
.testDiv{
    width: 200px;
    height: 200px;
    background-color: rgb(5, 131, 68);
    float: right;
    padding: 15px;
}
  }
 
